body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Rubik', sans-serif;
	color: #333333;
	font-size: 18px;
}

h1 {
	font-size: 95px;
	color: #FF704B;
}

h2 {
	font-size: 36px;
	color: #FF704B;
}

a {
	text-decoration: none;
	color: #FB6842;
}

a:hover {
	text-decoration: underline;
}

#homebutton {
	top: 40px;
	position: fixed;
	margin-left: 25px;
}

#homebutton a{
	color: #333333;
	text-decoration: none;
}

#homebutton a:hover{
	color: #FB6842;
	transition: 0.3s;
}

#main_content {
	padding-left: 40px;
	padding-top: 30px;
	padding-bottom: 100px;
 	width: 57%;
 	margin: auto;
 }

 #bioimg {
 	padding-top: 90px;
 	padding-bottom: 90px;
 }

.centered {
	margin: auto;
	text-align: center;
}

.bigtext {
	font-weight:500;
	font-size: 48px;
}

.smalltext {
	margin-top: 80px;
}

.footer-content {
	padding-right: 17vw;
	padding-left: 17vw;
}

.bodyimg{
	padding-top: 80px;
}

.addpaddingtop {
	padding-top: 80px;
}

.addpaddingtopsmall {
	padding-top: 20px;
}

.container { 
	margin-bottom: 80px;
}

.footer-content {
	padding-right: 24vw;
	padding-left: 24vw;
}

.link {
	font-weight: 500;
	margin-right: 65px;
	text-decoration: none;
	color: #333333;
	font-size: 24px;
	line-height: 50px;
}

.link:hover {
	color: #FB6842;
	transition: 0.3s;
}