.morepaddingtop {
	padding-top: 30px;
}

.morepaddingbottom {
	padding-bottom: 30px;
}

.caption {
	margin-top: -20px;
	font-size: 14px;
}

.medweighttitle {
	font-weight: 500;
}

/*gallery formatting*/