/*GENERAL CSS FORMATTING FOR ALL PROJECTS.  REFER TO INDIVIDUAL CSS PAGES FOR UNIQUE FORMATTING.*/

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	font-family: 'Rubik', sans-serif;
	color: #333333;
	font-size: 18px;
}

p {
	line-height: 26px;
}

a {
 	text-decoration: none;
 }

h1 {
	color: #FB6842;
	font-size: 56px;
}

h2 {
	color: #FB6842;
	font-size: 24px;
	padding-bottom: 10px;
}

h3 {
	font-size: 18px;
}

li {
	padding-bottom: 10px;
}

.caption {
	margin-top: -22px;
	font-size: 14px;
}

/*loading animation*/
#loader {  
	z-index: 99;
	position:fixed;
    top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#fff;
}

#loadingimg {
	position: absolute;
	border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #FB6842; 
    width: 70px; 
    height: 70px; 
    animation: spin 1.5s linear infinite;
    z-index: 100;
} 
  
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 
  
.center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 

/*sidebar formatting*/
#sidebar {
	margin-left: 16px;
	margin-top: 36px;
	position: fixed;
}

@media screen and (max-width: 1080px) {
 	#sidebar {
 		position: static;
 	}
 }

#homebutton {
	margin-left: 25px;
}

#homebutton a{
	color: #333333;
}

#homebutton a:hover{
	color: #FB6842;
	transition: 0.3s;
}


#menu {
	margin-top: 150px;
 	list-style-type: none;
 	line-height: 26px;
 }

 #menu a{
	margin-top: 150px;
 	list-style-type: none;
 	color: #828282;
 	/*line-height: 36px;*/
 }

 #menu a:hover{
 	color: #333333;
 	transition: 0.5s;
 	/*line-height: 36px;*/
 }

 @media screen and (max-width: 1080px) {
 	#menu {
 		display: none;
 	}
 }

/*general formatting: main content, sections*/
 #main_content {
 	width: 57%;
 	margin: auto;
 	padding-top: 100px;
 	padding-left: 80px;
 }

 @media screen and (max-width: 1080px) {
 	#main_content {
 		width: 80%;
 		padding-left: 10px;
 	}
 }

 .section {
 	margin-top: 90px;
 	/*overflow: hidden;*/
 }

 .subsection {
 	margin-top: 50px;
 }

/*top section formatting*/
#summary {
	font-size: 20px;
}

#segments {
	padding-top: 20px;
	display: inline-flex;
}

.seg {
	margin-right: 64px;
}

.title {
	font-weight: 500;
	padding-bottom: 8px;
}

#hero {
	padding-top: 100px;
	padding-bottom: 10px;
	width: 50vw;
}

/*images and embeds*/
.video {
	margin-top: 50px;
	padding-bottom: 40px;
}

.image {
	padding-top: 32px;
	padding-bottom: 32px;
	margin:auto;
}

@media screen and (max-width: 1080px) {
 	.image {
 		width: 600px;
 	}
 }

 @media screen and (max-width: 800px) {
 	.image {
 		width: 400px;
 	}
 }



/*tan background color*/
.full_color_background {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #FFFAF2;
	width: 100%;
	margin-left: -30vw;
	padding-left: 30vw;
	margin-right: -18.5vw;
	padding-right: 18.5vw;
	/*margin-left: -24vw;
	padding-right: 18.5vw;
	margin-right: -18.5vw;
	padding-left: 24vw;*/
}

/*callout formatting*/
.callout {
	background-color: #FFFAF2;
	margin-left: -3vw;
	padding-right: 3vw;
	margin-right: -3vw;
	padding-left: 3vw;
	padding-top: 3vw;
	padding-bottom: 3vw;
	margin-top: 36px;
}

.greyedtitle {
	color: #828282;
	/*font-weight: 500;*/
	padding-bottom: 10px;
}

.highlighttext {
	color: #FB6842;
	font-weight: 500;
	font-size: 20px;
}

/*footer formatting*/
.footer-content {
	padding-top: 50px;
	margin-bottom: 80px;
}

.link {
	font-weight: 500;
	margin-right: 65px;
	text-decoration: none;
	color: #333333;
	font-size: 24px;
	line-height: 50px;
}

.link:hover {
	color: #FB6842;
	transition: 0.3s;
}

/*gallery formatting*/
.gallery {
	padding-top: 30px;
	padding-bottom: 30px;
}

.row {
	display: flex;
}

.column { 
	flex-basis: 100%; 
}

@media screen and (max-width: 1080px) {
  .column {
  	flex: 1;
  }

  .row {
  	flex-direction: column;
  }
}

.gallimg_small {
	width: 400px;
}

.gallimg_small:hover {
	cursor: pointer;
	opacity: 0.6;
	transition: .5s;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.7);
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/*hide display images by default*/
.showimage {
	display:none;
}

.gallimg_large {
	margin: auto;
}

.gallimg_1 {
	width: 220px;
}

/*Dialpad-specific*/
.gallimg_span {
	width: 750px;
}

.gallimg_1:hover, .gallimg_span:hover {
	cursor: pointer;
	opacity: 0.8;
	transition: 0.3s;
}

.gallimg_larger {
	width: 600px;
	margin: auto;
}

/*CSS FORMATTING SPECIFIC TO BUMBLEBEE SPACES PROJECT*/
/*side by side images in Major Changes*/
.sidebyside {
	padding-top: 30px;
	display: inline-flex;
	padding-bottom: 30px;
}

@media screen and (max-width: 1080px) {
 	.sidebyside {
 		display: block;
 	}
 }

.sidetext {
	height: 50%;
	padding-left: 45px;
	margin: auto;
}

@media screen and (max-width: 1080px) {
 	.sidetext {
 		padding-top: 30px;
 		padding-left: 0;
 	}
 }

.coloredtext {
	color: #FB6842;
	font-weight: 500;
}

/*for images that needed to be resized*/
.resize { 
	width: 800px;
}

@media screen and (max-width: 1080px) {
 	.resize {
 		width: 600px;
 	}
 }

 @media screen and (max-width: 800px) {
 	.resize {
 		width: 400px;
 	}
 }

 /*FINAL DESIGN SECTION FORMATTING*/
.lefttext {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 50px;
	height: 50%;
	margin: auto;
}

.white {
	padding-top: 80px;
	padding-bottom: 70px;
}

.righttext {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 50px;
	height: 50%;
	margin: auto;
}

/*bampfaar specific*/
#prototype {
	margin-bottom: 80px;
}

.morepaddingtop {
	padding-top: 40px;
}

.morepaddingbottom {
	padding-bottom: 40px;
}


.medweighttitle {
	font-weight: 500;
}

/*up-specific*/
.gallimg_smallup {
	width: 250px;
}

.gallimg_smallup:hover {
	cursor: pointer;
	opacity: 0.8;
	transition: 0.3s;
}

