.morepaddingtop {
	padding-top: 40px;
}

.morepaddingbottom {
	padding-bottom: 40px;
}

.gallimg_smallup {
	width: 250px;
}

.gallimg_smallup:hover {
	cursor: pointer;
	opacity: 0.8;
	transition: 0.3s;
}